@model Ahorcado.MVC.Models.AhorcadoClass
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="~/Scripts/Ahorcado/RecursosAhorcado.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahorcado</title>
</head>
<body>
    <input type="hidden" id="palAAdiv" value="@Model.logica.Juego.PalabraAAdivinar" />
    <input type="hidden" id="vidas" value="@Model.logica.Juego.Vidas" />
    <input type="hidden" id="scoreTot" value="@Model.logica.Juego.Score" />
    <div class="container">
        <table class="table-responsive table-bordered" style="background-color:lightgray">
            <thead>
                <tr>
                    <td><h2>Ahorcado @Model.logica.Juego.PalabraAAdivinar</h2></td>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td class="left">
                        <label>Arriesgar Palabra </label> <br /> <input type="text" id="palIngre" class="form-control" /> <button type="button" class="form-control" onclick="ingresarPalbraAAdivinar()"> Arriesgar</button> <br /> <br />
                        <label>Arriesgar Letra  </label> <br /> <input type="text" maxlength="1" id="letIngre" class="form-control" /><button type="button" class="form-control">Arriesgar</button><br />

                    </td>
                    <td class="right">
                        <img src="~/Imagenes/3 corazones.png" width="150" height="100" />
                        <br />
                        <label>Score:</label>  <label id="score"> @Model.logica.Juego.Score</label> <br />
                        <label>Palabra:</label> <label id="palModAct">@Model.logica.Juego.PalabraModeloActual</label> <br />
                        <label>Letras Ingresadas: </label> <br />
                    </td>
                </tr>
                <tr>
                    <td class="center-block">
                        <button type="button" class="btn btn-lg btn-primary">Otra partida</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
