@model AhorcadoClass
@{
    Layout = null;
    var letraslista = ViewBag.letrasIngresadas;
}

<!DOCTYPE html>
<script src="~/Scripts/Ahorcado/RecursosAhorcado.js"></script>

<html lang="es-ar">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ahorcado</title>
    <style>

        .center{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 5px solid #FFFF00;
            padding: 10px;
        }


        .hor-center {
            left: 50%;
            padding: 10px;
        }

        .textAhorcado{
            font-family: 'Palatino Linotype';
            font-weight: bold;
        }


        .botones-ahorcado {
            background-color: #008CBA;
            font-size: 16px;
            border-radius: 12px;
            transition-duration: 0.4s;
            border: 2px solid #808080;
        }

        .botones-ahorcado:hover {
            background-color: #4CAF50; /* Green */
            color: white;
        }

    </style>
</head>

<body>
    <input type="hidden" id="palAAdiv" value="@Model.Juego.PalabraAAdivinar" />
    <input type="hidden" id="vidas" value="@Model.Juego.Vidas" />
    <input type="hidden" id="scoreTot" value="@Model.Juego.Score" />
    <div class="container center">
        <table aria-label="Cuadro de ordenamiento" class="table-responsive table-bordered" style="background-color:lightgray" width="600" height="200">
            <thead>
                <tr>
                    <td>
                        <h2> <label class="textAhorcado">&nbsp;&nbsp; Ahorcado</label></h2>
                    </td>
                    <td style="width: 300px; text-align:center;">
                        <div>
                            @for (int i = 0; i < Model.Juego.Vidas; i++)
                            {
                                <img name="corazon" src="~/Imagenes/corazon.png" width="40" height="55" />
                            }
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="left">
                        @*<form action="/Ahorcado/ArriesgarPalabra" method="post">
                            <label>Arriesgar Palabra </label>
                            <input type="hidden" id="palAAdiv" value="@Model.Juego.PalabraAAdivinar" />
                            <input type="text" name="palabra" placeholder="palabra" />
                            <input type="submit" value="Arriesgar" />
                            <br />
                        </form>*@
                        @using (Html.BeginForm("ArriesgarPalabra", "Ahorcado", FormMethod.Post))
                        {
                            <label class="textAhorcado">Arriesgar Palabra </label>
                            <input type="hidden" id="palAAdivP" name="palAAdiv" value="@Model.Juego.PalabraAAdivinar" />
                            <input type="hidden" id="vidasP" name="vidas" value="@Model.Juego.Vidas" />
                            <input type="hidden" id="scoreTotP" name="scoreTot" value="@Model.Juego.Score" />
                            <input type="hidden" id="palModActP" name="palModAct" value="@Model.Juego.PalabraModeloActual" />
                            for (int i = 0; i < Model.Juego.LetrasIngresadas.Count; i++)
                            {
                                <input type="hidden" id="letIngresadasP" name="letIngresadas[@i]" value="@Model.Juego.LetrasIngresadas[i]" />
                            }
                            <input type="text" id="palIngresada" name="palabra" placeholder="palabra" style="width: 50px;" />
                            <input type="submit" id="btnIngPal" value="Arriesgar"  class="botones-ahorcado" />
                            <br />
                        }

                        <br />

                        @using (Html.BeginForm("ArriesgarLetra", "Ahorcado", FormMethod.Post))
                        {
                            <label class="textAhorcado">Arriesgar Letra </label>
                            <input type="hidden" id="palAAdivL" name="palAAdiv" value="@Model.Juego.PalabraAAdivinar" />
                            <input type="hidden" id="vidasL" name="vidas" value="@Model.Juego.Vidas" />
                            <input type="hidden" id="scoreTotL" name="scoreTot" value="@Model.Juego.Score" />
                            for (int i = 0; i < Model.Juego.LetrasIngresadas.Count; i++)
                            {
                                <input type="hidden" id="letIngresadasL" name="letIngresadas[@i]" value="@Model.Juego.LetrasIngresadas[i]" />
                            }
                            <input type="hidden" id="palModActL" name="palModAct" value="@Model.Juego.PalabraModeloActual" />
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <input type="text" id="letraIngresada" name="letra" placeholder="letra" maxlength="1" style="width: 50px;" />
                            <input type="submit"  id="btnIngLet" value="Arriesgar"  class="botones-ahorcado" />
                            <br />
                        }
                    </td>
                    <td class="right" style="width: 300px;">
                        <label class="textAhorcado"  style="font-size:5mm">Score:</label>  <label id="score" class="textAhorcado">&nbsp;@Model.Juego.Score</label> <br />
                        <br />
                        <label class="textAhorcado" id="labelPalabra" style="font-size:5mm">Palabra:</label> <label id="palModAct" class="textAhorcado">&nbsp;@Model.Juego.PalabraModeloActual</label> <br />
                        <br />
                        <label class="textAhorcado" style="font-size:5mm">Letras Ingresadas: </label> <label id="listaLetra"  class="textAhorcado">&nbsp;@letraslista</label> <br />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="hor-center"  style="background-color:lightgray; text-align:center;">
            @using (Html.BeginForm("AhorcadoView", "Ahorcado", FormMethod.Get))
            {
                <input type="submit" id="otraPartida" value="Otra partida" class="botones-ahorcado" />
                <br />
            }
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


